@font-face {
    font-family: 'SF_HambakSnow';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/SF_HambakSnow.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* 메인페이지 상단 바 */

p {
    font-size: 20px;
}

a { 
    text-align: center;
    text-decoration:none;
    color:white; 
}

h2{
    font-size:x-large; 
}

body { 
    margin: 0; 
}

.menubar {
    height: 70px;
    background-color: black;
    display: flex;
    flex-direction: row;
    position: sticky;
}

.LOGO {
    flex: 4;
    margin-right: 30px;
    margin-left: 30px;
    margin-top: 19px;
}

.LOGO {
    font-family:'Osaka';
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0.4;
}

.item a:hover { 
    color: darkgray;
}

h2 {
    color:white;
} 

.menubar {
display: flex;
width: 100%;
position: relative;
}

/* 메인 이미지 슬라이딩 */

body { padding: 0px; margin: 0px; }
      .jb-box { width: 100%; height: 836px; overflow: hidden;margin: 0px auto; position: relative; }
      video { width: 100%; }

      /* 이미지 위 텍스트 작성 */
      .jb-text { position: absolute; top:45%; width: 100%; }
      .jb-text p { margin-top: -24px; text-align: center; font-size: 100px; font-family: 'SF_HambakSnow'; color: #ffffff; }

/* 스크롤 유도 표기 */
oneclick {
    padding-top: 70px;
  }
  oneclick span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: sdb 1.5s infinite;
    animation: sdb 1.5s infinite;
    box-sizing: border-box;
  }
  @-webkit-keyframes sdb {
    0% {
      -webkit-transform: rotate(-45deg) translate(0, 0);
      opacity: 0;
    }
    50% { 
      opacity: 1;
    }
    100% {
      -webkit-transform: rotate(-45deg) translate(-20px, 20px);
      opacity: 0;
    }
  }
  @keyframes sdb {
    0% {
      transform: rotate(-45deg) translate(0, 0);
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      transform: rotate(-45deg) translate(-20px, 20px);
      opacity: 0;
    }
  }
