@font-face {
    font-family: 'SF_HambakSnow';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/SF_HambakSnow.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* 스크롤 */

#all {
  scroll-snap-type: y mandatory; 
  overflow-x: hidden;
  overflow-y: scroll;
  width: 100%;
  height: 100vh;
  scroll-behavior:smooth;
  -ms-overflow-style:none;
  scrollbar-width: none;
}
.scroll {
  position: relative;
  height: 100vh;
  display: block;
  overflow: hidden;
  scroll-snap-align:start;
}

/* 메인페이지 상단 바 */

p {
    font-size: 20px;
    font-weight: 400;
}

a { 
    text-align: center;
    text-decoration:none;
    color:white; 
}

h2{
    font-size:x-large; 
}

body {
    margin: 0; 
}
.section  {
  position: relative;
}
.menubar {
  z-index: 100;
    height: 70px;
    background-color: black;
    display: flex;
    flex-direction: row;
    position: fixed;
    width: 100%;
}

.LOGO {
    flex: 4;
    margin-right: 30px;
    margin-left: 30px;
    margin-top: 19px;
    font-family:'Osaka';
    font-weight:normal
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0.4;
}

.item a:hover { 
    color: darkgray;
}

h2 {
    color:white;
} 


/* 메인 이미지 슬라이딩 */

body { padding: 0px; margin: 0px; }
      .jb-box { 
        width: 100%; overflow: hidden; margin: 0px auto; position: relative; 
        z-index: -2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      video { 
        width: 100%; 
        height: 906px; 
        padding: 0;
        margin: 0;
        object-fit: fill;
      }

      /* 이미지 위 텍스트 작성 */
      .jb-text { position:absolute; top:50%; width: 100%; }
      .jb-text p { margin-top: -30px; text-align: center; font-size: 100px; font-family: 'SF_HambakSnow'; color: #ffffff; }

/* 스크롤 유도 표기 */

  .oneclick span {
    position: absolute;
    margin-top: -120px;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    box-sizing: border-box;
    -webkit-animation: sdb 1.5s infinite;
    animation: sdb 1.5s infinite;
  }

  .oneclick p {
    margin: 0;
    margin-top : -50px;
    color: white;
    font-size: x-large;
    font-weight: lighter;
  }

  @-webkit-keyframes sdb {
    0% {
      -webkit-transform: rotate(-45deg) translate(0, 0);
      opacity: 0;
    }
    50% { 
      opacity: 1;
    }
    100% {
      -webkit-transform: rotate(-45deg) translate(-20px, 20px);
      opacity: 0;
    }
  }
  @keyframes sdb {
    0% {
      transform: rotate(-45deg) translate(0, 0);
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      transform: rotate(-45deg) translate(-20px, 20px);
      opacity: 0;
    }
  }

/* ABOUT ME */

.aboutme {
  position: relative;
  align-items: center;
  justify-content: center;
  width: 210px;
  height: 35px;
  margin: auto;
  margin-top: 10%;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
  text-align: center;
}


/* ABOUT ME 아래 문장  */

.result {
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  margin-top: 9%;
  color: black;
}

.me {
  text-align: center;
  font-weight: 400;
  font-size: 40px;
  margin-top: 3%;
  margin-left: 4%;
  color: black;
  }

.section2{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

/* 더 알아보기 호버 밑줄 기능 추가 */

.formleft {
  position: relative; 
  margin-top: 5%;
  margin-left: -38%;
  font-weight: lighter;
  width: 200px;
  color: black;
  font-size: 25px;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
} 

.button-container {
  
  position:relative;
  width: 120px;
  height: 60px;
  opacity: 0;
  animation: fade-in 2s 1;
  animation-direction: alternate;
  animation-fill-mode: forwards;
}

.button-container:not(:hover) > .under-line {
  position: relative;
  height: 2px;
  background-color: black;
  bottom: 0;  
  animation: out 1s 1;
  animation-direction: alternate;
  animation-fill-mode: forwards;
}

.button-container:hover > .under-line {
  width: 100%;
  position: relative;
  height: 2px;
  background-color: black;
  bottom: 0;   
  animation: in 1s 1;
  animation-direction: alternate;
  animation-fill-mode: forwards;
}

@keyframes fade-in{
  0%{
    opacity: 0;
  }
  50%{
    opacity: 0;
  }
  100%{
    opacity: 1;
    }
  }
  

@keyframes in{
0%{
  width: 0%;
  }
100%{
  width: 100%;
  }
}

@keyframes out{
  0%{
    width: 100%;
    }
  100%{
    width: 0%;
    }
  }
  
/* Reading Text*/

.reading {
  position: relative;
  align-items: center;
  justify-content: center;
  width: 180px;
  height: 35px;
  margin: auto;
  margin-top: 10%;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
  text-align: center;
}

.section3 {
  height: auto;
  }

.book-container {
  width: 100%;
  margin-top: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

/* 책 */

.flipBoxContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 330px;
  margin-top: 7%;
}

.flip-box {
  display: flex;
  width: fit-content;
  height: 100%;
  perspective: 1000px;
  justify-content: center;
  align-items: center;
  margin: 45px;
}

.flip {
  display: flex;
  justify-content: center;
  width: 230px;
  height: 100%;
  position: relative;
  color: black;
  font-size: 25pt;
  font-weight: 100;
  line-height: 400px;
  transform-style: preserve-3d;
  transform: rotateY(0deg);
  transition: .5s;
}

.front, .back {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  justify-content: center;
}

.front {
  background: white;
  border: 2px solid black;
}
.back {
  background: gray;
  border: 2px solid black;
  transform: rotateY(180deg);
}

.flip-box:hover .flip {
  transform: rotateY(-180deg);
}

.책제목2018 {
  font-size:medium;
  height: -100px;
  position: absolute;
  left: 26%;
  top: -4%;
}

.책제목2019 {
  font-size:medium;
  height: -100px;
  position: absolute;
  left: 22.5%;
  top: -4%;
}

.책제목2020 {
  font-size:medium;
  height: -100px;
  position: absolute;
  left: 22.5%;
  top: -4%;
}

.책제목2021 {
  font-size:medium;
  height: -100px;
  position: absolute;
  left: 22.5%;
  top: -4%;
}

.책제목2022 {
  font-size:medium;
  height: -100px;
  position: absolute;
  left: 22.5%;
  top: -4%;
}

/* 더 알아보기 호버 밑줄 기능 추가2 */

.formleft2 {
  position: relative; 
  margin-top: 5%;
  font-weight: lighter;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: black;
  font-size: 25px;
  flex-direction: column;
  align-items:center;
  justify-content: center;
} 

.button-container2 {
  position:relative;
  width: 120px;
  height: 60px;
  opacity: 0;
  animation: fade-in 2s 1;
  animation-direction: alternate;
  animation-fill-mode: forwards;
}

.button-container2:not(:hover) > .under-line2 {
  position: relative;
  height: 2px;
  background-color: black;
  bottom: 0;  
  animation: out 1s 1;
  animation-direction: alternate;
  animation-fill-mode: forwards;
}

.button-container2:hover > .under-line2 {
  width: 100%;
  position: relative;
  height: 2px;
  background-color: black;
  bottom: 0;   
  animation: in 1s 1;
  animation-direction: alternate;
  animation-fill-mode: forwards;
}

@keyframes fade-in{
  0%{
    opacity: 0;
  }
  50%{
    opacity: 0;
  }
  100%{
    opacity: 1;
    }
  }
  

@keyframes in{
0%{
  width: 0%;
  }
100%{
  width: 100%;
  }
}

@keyframes out{
  0%{
    width: 100%;
    }
  100%{
    width: 0%;
    }
  }
  
  .section4 {
    height: 200px;

  }

  .PROJECT {
    position: relative;
    align-items: center;
    justify-content: center;
    width: 180px;
    height: 35px;
    margin: auto;
    margin-top: 10%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 40px;
    color: #000000;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    text-align: center;
  }

  /* 프로젝트 */

  .ProjectBoxContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 440px;
    margin-top: 2%;
  }
  
  .project-box {
    display: flex;
    width: fit-content;
    height: 100%;
    perspective: 1000px;
    justify-content: center;
    align-items: center;
    margin: 70px;
  }
  
  .pm {
    display: flex;
    justify-content: center;
    width: 250px;
    height: 350px;
    position: relative;
    color: black;
    font-size: 25pt;
    font-weight: 100;
    line-height: 400px;
    transform-style: preserve-3d;
    transform: rotateY(0deg);
    transition: .5s;
  }
  
  .개인주제 {
    font-size: small;
    height: -100px;
    position: absolute;
    left: 27.5%;
    top: -50%;
  }

  .문제정의 {
    font-size: small;
    height: -100px;
    position: absolute;
    left: 32.5%;
    top: -50%;
  }

  .프주제1 {
    font-size: small;
    height: -100px;
    position: absolute;
    left: 19%;
    top: 0%;
  }

  .프주제2 {
    font-size: small;
    height: -100px;
    position: absolute;
    left: 14%;
    top: 0%;
  }

  .프주제3 {
    font-size: small;
    height: -100px;
    position: absolute;
    left: 27.5%;
    top: 0%;
  }

  .front2, .back2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
  }
  
  .front2 {
    background: white;
    border: 2px solid black;
  }
  .back2 {
    border: 2px solid black;
    transform: rotateY(180deg);
  }
  
  .project-box:hover .pm {
    transform: rotateY(-180deg);
  }

  /* 더 알아보기 호버 밑줄 기능 추가3 */

.formleft3 {
  position: relative; 
  margin-top: 2%;
  font-weight: lighter;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: black;
  font-size: 25px;
  flex-direction: column;
  align-items:center;
  justify-content: center;
} 

.button-container3 {
  position:relative;
  width: 120px;
  height: 60px;
  opacity: 0;
  animation: fade-in 2s 1;
  animation-direction: alternate;
  animation-fill-mode: forwards;
}

.button-container3:not(:hover) > .under-line3 {
  position: relative;
  height: 2px;
  background-color: black;
  bottom: 0;  
  animation: out 1s 1;
  animation-direction: alternate;
  animation-fill-mode: forwards;
}

.button-container3:hover > .under-line3 {
  width: 100%;
  position: relative;
  height: 2px;
  background-color: black;
  bottom: 0;   
  animation: in 1s 1;
  animation-direction: alternate;
  animation-fill-mode: forwards;
}

@keyframes fade-in{
  0%{
    opacity: 0;
  }
  50%{
    opacity: 0;
  }
  100%{
    opacity: 1;
    }
  }
  

@keyframes in{
0%{
  width: 0%;
  }
100%{
  width: 100%;
  }
}

@keyframes out{
  0%{
    width: 100%;
    }
  100%{
    width: 0%;
    }
  }

  /* menubar2 하단 */

  .menubar2 {
    /* z-index: 100; */
      height: 65px;
      width: 100%;
      background-color: black;
      display: flex;
      flex-direction: row;
      position: relative;
      justify-content: left 10px;
      top: 25%;
  }
  
  .contact {
    color:white;
    /* flex: 2; */
    top: 20px;
    margin-right: 30px;
    margin-left: 5px;
    font-family:'Osaka';
    font-weight:normal;
    font-size:x-large;
  } 

  .call {
    color:white;
    /* flex: 2; */
    margin-left: -120px;
    margin-top: 40px;
    font-family:'Osaka';
    font-weight:normal
  } 

  /* 인스타그램 로고 */

  .instagram {
    position: relative;
    align-items: center;
    margin-top: 1%;
    margin-left: 60%;
    width: 30px;
    height: 30px;
    background: url(../Picture/instagram.png);
    background-size: cover;
  }